@inherits LayoutComponentBase

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Layouts
@using Syncfusion.EJ2.Blazor.Navigations
@using Syncfusion.EJ2.Blazor.Popups
@using Syncfusion.EJ2.Blazor.Inputs
@using Syncfusion.EJ2.Blazor.Buttons
@using BlazorApp7.Data

@inject IJSRuntime JSRuntime

<div class="main">
    <BlazorApp7.Pages.Header></BlazorApp7.Pages.Header>

    <div class="content px-4">
        @Body
    </div>
</div>